<div class="privacy">
  <p>当サイトではGoogleによるアクセス解析ツール「Googleアナリティクス」を使用しています。</p>
  <p>このGoogleアナリティクスはデータの収集のためにCookieを使用しています。</p>
  <p>このデータは匿名で収集されており個人を特定するものではありません。</p>
  <p>この機能はCookieを無効にすることで収集を拒否することが出来ます。</p>
  <p>お使いのブラウザの設定をご確認ください。</p>
  <p>この規約に関しての詳細は<p>
  <p><a href="https://marketingplatform.google.com/about/analytics/terms/jp/" rel="noopener noreferrer" target="_blank" class="external ext_icon">Googleアナリティクスサービス利用規約</a></p>
  <p><a href="https://policies.google.com/technologies/ads?hl=ja" rel="noopener noreferrer" target="_blank" class="external ext_icon">Googleポリシーと規約</a></p>
  <p>をご覧ください。</p>
</div>