<footer class="footer">
  <div class="copyright">
    <p>
      このページはあつまれ どうぶつの森のファンサイトです。
      <br>
      ご連絡は<a href="https://twitter.com/abchi">Twitter</a>までお願いします。
      <br>
      &copy; 2020 abchi.
    </p>
  </div>
</footer>
