<footer class="footer">
  <div class="share_button">
    <a href="http://twitter.com/share?url=https://atsumare-mydesign.herokuapp.com&text=作品ID画像付きの「%23マイデザイン」をあつめるサイト%0aあつまれ%23マイデザイン&hashtags=どうぶつの森,AnimalCrossing,ACNH" target="_blank">
      <img src="/assets/Twitter_Social_Icon_Circle_Color.png" alt="ツイート">
    </a>
  </div>
  <div class="info">
    <p>
      このサイトはあつまれ どうぶつの森のファンサイトです。
      <br>
      ご連絡は<a href="https://twitter.com/abchi">Twitter</a>までお願いします。
      <br>
      <a href="/privacy">プライバシーポリシー</a>
    </p>
  </div>
  <div class="copyright">
    <p>&copy; 2020 abchi</p>
  </div>
</footer>
