<footer class="footer">
  <div class="info">
    <p>
      このサイトはあつまれ どうぶつの森のファンサイトです。
      <br>
      ご連絡は<a href="https://twitter.com/abchi">Twitter</a>までお願いします。
      <br>
      <a href="/privacy">プライバシーポリシー</a>
    </p>
  </div>
  <div class="copyright">
    <p>&copy; 2020 abchi.</p>
  </div>
</footer>
